<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.okhireactnativeokverify">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <meta-data android:name="io.sentry.dsn" android:value="https://9ad487773bc14f2ca4a9c952946fa28a@o112085.ingest.sentry.io/5597788" />
      <meta-data android:name="io.okhi.core.branch_id" android:value="UD3tyqVt50" />
      <meta-data android:name="io.okhi.core.client_key" android:value="bcb6e880-5294-4045-b0c7-5303cc1a9983" />
      <meta-data android:name="io.okhi.core.environment" android:value="dev" />
      <meta-data android:name="io.okhi.core.developer" android:value="okhi" />
      <meta-data android:name="io.okhi.core.platform" android:value="react-native" />
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
